<apex:page docType="html-5.0" standardStylesheets="false" cache="false" applyHtmlTag="false" id="page" showHeader="false" sidebar="false" controller="BizDevLinksController">
  <html>
    <head>
      <meta https-equiv="X-UA-Compatible" content="IE=Edge" />
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0" />
      
      <!--<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css"/>-->
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
      <apex:stylesheet value="{!URLFOR($Resource.TF4SF__Accordian, 'Accordian/css/jquery-ui.css')}"/>
      
      <script src="//code.jquery.com/jquery-1.10.2.js"></script>
      <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
      <!-- <apex:stylesheet value="{!URLFOR($Resource.patelco, 'dist/assets/dsp-3.0.0.min..css')}"/> -->
      
      <title>KeyPoint - Digital Sales Platform</title>
      
      <style>
        body{ 
            min-height:100vh; 
        }
        header{
            padding: 30px 0;
        }
        header hr {
            border: 1px solid #4A9F2E;
        }
        ul.product-listing {
            padding: 0;
            list-style-type:none;
        }
        .ui-accordion .ui-accordion-header {
            background: #0067B0;
        }
        .ui-accordion .ui-accordion-content {
            border: 1px solid #eee;
        }
        .ui-accordion-content .product-listing li {
            list-style-type:none;
            height: 240px;
            margin-right: 0;
            border: 1px solid rgb(238, 238, 238);
            border-top: 3px solid #0067B0;
            margin-bottom: 20px;
            padding: 10px;
            box-shadow: 5px 4px 0px rgba(238, 238, 238, 0.5);
            font-size: 12px;
        }
        .ui-accordion-content .product-listing li h5{
            font-size:14px;
            margin:5px 0;
            font-weight:700;
        }
        .ui-accordion-content .product-listing li p {
            height: 70px;
            overflow-y: auto;
        }
        .ui-accordion-content .product-listing li a {
            color: #525252;
            font-size: 14px;
            clear:both;
        }       
        .ui-accordion-content .product-listing li a:hover{
            color:#10499A;
        }
        .ui-accordion-content .product-listing li a:before {
            content: '[';
            font-size: 14px;
            padding-right:5px;
        }
        .ui-accordion-content .product-listing li a:after {
            content: ']';
            font-size: 14px;
            padding-left:5px;
        }
       .ui-accordion-content .product-listing li .card-img{
            display:block;
            padding: 8px 0;
            width:65px;
        }
        .ui-accordion .ui-accordion-header .ui-accordion-header-icon {
           position: absolute;
           left: .5em; 
           top: 50%;
           margin-top: -8px; 
           background-size: 16px;
        }
        .ui-state-active .ui-icon {
           background-image: url(https://image.ibb.co/ieeE8R/plusminus.png);
           background-position: 0 -18px !important;
        }
        .ui-state-default .ui-icon {
          background-image: url(https://image.ibb.co/ieeE8R/plusminus.png);
          background-position: 0 -1px;
        }
  
  
        /* IE has layout issues when sorting (see #5413) */
        .group { zoom: 1 }
        .grid {
          max-width: 900px;
          margin: 0 auto;
        }
        .marginTp75{
          margin-top: 75px;
        }
        .back{
          background-color: #1c6b94;
          color: white;
        }
  </style>
  
  <script>
          $j = jQuery.noConflict();
          $j(function() {
            $j( "#accordion" )
              .accordion({
                heightStyle: "content",
                header: "> div > h3",
                 collapsible: true,
                 active: false
              })

              .sortable({
                axis: "y",
                handle: "h3",
                stop: function( event, ui ) {
                  // IE doesn't register the blur when sorting
                  // so trigger focusout handlers to remove .ui-state-focus
                  ui.item.children( "h3" ).triggerHandler( "focusout" );
                }

              });
          });
  </script>
  
    </head>
    <!-- Google Tag Manager -->
    <noscript>
      <iframe src="//www.googletagmanager.com/ns.html?id=GTM-NKTS24"
height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NKTS24');</script>

    <!-- End Google Tag Manager -->
    <body>
      <div class="container">
        <header class="header">
          <a href="#">
            <apex:image url="https://image.ibb.co/mBkG3R/keypoint_logo.png" width="220" />
            <!-- <img class="{!URLFOR($Resource.patelco, 'dist/assets/images/companylogo.png')}" width="150" height="46"/> -->
          </a>
          <hr/>
        </header>
        <!-- end .header -->
        <apex:form >
          <div id="accordion" class="">
            <apex:repeat value="{!prdMap}" var="r" id="prdId">
              <div class="">
                <h3>{!r}</h3>
                <div>
                  <ul class="product-listing">
                    <apex:repeat value="{!prdMap[r]}" var="pr" id="rId">
                      <apex:outputPanel styleclass="col-md-4 col-sm-6">
                        <li>
                          <!-- <img src="https://image.ibb.co/bKjyHm/card.png"  class="card-img"/> -->
                          <apex:variable var="imageVar" value="{!pr.Product_Image__c}" />
                          <apex:image url="{!URLFOR($Resource.ProductImages,imageVar  )}" styleclass="card-img" rendered="{!imageVar !=''}"/>
                          <apex:image url="{!URLFOR($Resource.ProductImages,'/productimages/images/default-prod.png'  )}"  styleclass="card-img" rendered="{!imageVar ==''}"/>
                          <h5>{!pr.TF4SF__Sub_Product__c}</h5>
                            <!-- <h5><apex:commandLink value="Apply Now" action="{!ProdSub}" ><apex:param name="SelectedProduct" value="{!pr.Name}" assignTo="{!SelectedProduct}"/></apex:commandLink></h5> -->
                          <p>{!pr.Landing_Page_Description__c}</p>
                          <!--<a href="{!$Setup.TF4SF__SiteUrl__c.TF4SF__Url__c}tf4sf__landingpage?subPrdCode={!pr.Name}">Apply Now</a>-->
                          <h5><apex:commandLink value="Apply Now" action="{!ProdSub}" ><apex:param name="SelectedProduct" value="{!pr.Name}" assignTo="{!SelectedProduct}"/></apex:commandLink></h5>
                        </li>
                      </apex:outputPanel>
                      <!--<apex:outputPanel rendered="{!loggedInUser.TF4SF__Channel__c == 'Online'}" styleclass="col-md-4 col-sm-6">
                        <li>
                          
                          <apex:variable var="imageVar" value="{!pr.Product_Image__c}" />
                          <apex:image url="{!URLFOR($Resource.ProductImages,imageVar  )}" styleclass="card-img" rendered="{!imageVar !=''}"/>
                          <apex:image url="{!URLFOR($Resource.ProductImages,'/productimages/images/default-prod.png'  )}"  styleclass="card-img" rendered="{!imageVar ==''}"/>
                          <h5>{!pr.TF4SF__Sub_Product__c}</h5>
                          <p>{!pr.Landing_Page_Description__c}</p>
                          <a href="{!$Setup.TF4SF__SiteUrl__c.TF4SF__Url__c}tf4sf__landingpage?subPrdCode={!pr.Name}">Apply Now</a>
                        </li>
                      </apex:outputPanel>-->
                    </apex:repeat>
                  </ul>
                </div>
              </div>
            </apex:repeat>
            <!-- content_wrap -->
            <div class="content">
              <!-- end .content -->
            </div>
            <div class="clear"></div>
            <!-- <c:Footer ></c:Footer> -->
            <!-- end .container -->
          </div>
        </apex:form>
      </div>
    </body>
  </html>
</apex:page>